<section class="vh-100" style="background-color: #508bfc;">
          <div class="container py-5 h-100">
          <iframe width="0" height="0" border="0" name="dummyframe2" id="dummyframe2"></iframe>
            <form class="row d-flex justify-content-center align-items-center h-100" method="post" enctype="application/json" name="form"
            action="http://localhost:3000/auth/login" target="dummyframe2">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                  <div class="card-body p-5 text-center">

                    <h3 class="mb-5">Sign in</h3>

                    <div class="form-outline mb-4">
                      <input type="email" id="typeEmailX-2" class="form-control form-control-lg" name="username"/>
                      <label class="form-label" for="typeEmailX-2">Email</label>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password"/>
                      <label class="form-label" for="typePasswordX-2">Password</label>
                    </div>

                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

                    <hr class="my-4">

                  </div>
                </div>
              </div>
            </form>
          </div>
        </section>
 <script>
 form.onsubmit =async (e) => {
 e.preventDefault();
 const form=document.forms.form;
 const xhr = new XMLHttpRequest();
 xhr.open("POST", form.action);
 xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

xhr.onload = function() {
     if (this.status !==201) {
        alert( 'ошибка: ' + (this.status ? this.statusText : 'запрос не удался') );
        form.reset();
        return;
     }else{
        alert("Вы успешно вошли");
        window.location.href="http://localhost:3000/"
     }
    }

    if(form.elements.username.value===""&&form.elements.password.value===""){
        alert('Необходимо заполнить все поля');
    }else{
        xhr.send(JSON.stringify({ "username": form.elements.username.value, "password":  form.elements.password.value}));
    }
   };

 </script>








